/vendor/
/node_modules/
/.phpunit.cache
/.vscode
/.idea
/.DS_Store
# We need to include the dist directory to ensure built assets are available
# when the package is installed via Composer
/coverage
.env
composer.lock
package-lock.json
npm-debug.log
yarn-error.log
